* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

  text-align: center;
}

body {
  height: 100vw;
  width: 100vw;
  font-family: 'Arial', Helvetica, sans-serif;
  /* background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); */
  background: #000428;
    background: -webkit-linear-gradient( left,   #000428, #004e92 );
    background: linear-gradient( left,  #000428, #004e92);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

header {
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  box-shadow: 3px 13px 15px rgba(0, 0, 0, 0.12);
  color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #000428;
    background: -webkit-linear-gradient(left, #004e92,  #000428);
    background: linear-gradient(left, #004e92, #000428);
}

/* nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.nav-brand {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  flex: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50%;
}

.nav-menu a {
  font-size: 1.5em;
  color: #ffffffde;
  text-decoration: none;
  padding: 0px 20px;
}

.nav-menu a:hover {
  border-bottom: 2px solid #ffffffde;
  transition: all 0.3ms ease;
}